#topnav {
  background-color: #1C74B2;
  text-align: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  min-height: 38px;
  line-height: 200%;
}

.menu>li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px dashed #0A2B42;
}

.menu>li:first-child {
  border-left: 1px dashed #0A2B42;
}

.Link {
  text-decoration: none;
  color: #fff;
  /*
  color: inherit;
  */
}

.Link:hover {
  text-decoration: none;
  color: #0A2B42;
}